.input {
  &__field {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 35px 12px 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.85);
    border: $border-width solid var(--color-white);
    border-radius: 3px;
    transition: color $transition-duration $transition-timing-function;

    &:focus {
      background-color: rgba(61, 64, 80, 0.85);

      &::placeholder {
        color: var(--color-white);
      }
    }

    &::placeholder {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: var(--color-dark-bg);
      transition: color $transition-duration $transition-timing-function;
    }
  }

  &__error {
    display: none;
    color: red;
    margin-top: 8px;
  }

  &--attached {
    .input-file {
      display: none;
    }

    .input-value {
      display: block;
    }
  }

  &-file {
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: flex-end;
    width: 100%;
    padding: 12px 15px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--color-dark-bg);
    background-color: var(--color-white);
    border: 2px solid var(--color-one-accent);
    border-radius: 3px;
    transition: color $transition-duration $transition-timing-function,
      background-color $transition-duration $transition-timing-function,
      border-color $transition-duration $transition-timing-function;

    &:hover {
      background-color: var(--color-one-accent);
      color: var(--color-white);
      border-color: var(--color-white);
    }

    &__icon {
      margin-right: 10px;
    }
  }

  #input-file:focus + .input-file {
    background-color: var(--color-one-accent);
    color: var(--color-white);
    border-color: var(--color-white);
  }
}
